[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manoj-djax
[access "refs/for/refs/*"]
	read = group user/manoj-djax
	push = group user/manoj-djax
	label-Code-Review = -2..+2 group user/manoj-djax
	label-Verified = -1..+1 group user/manoj-djax
	rebase = group user/manoj-djax
	removeReviewer = group user/manoj-djax
	submit = group user/manoj-djax
[access "refs/heads/*"]
	read = group user/manoj-djax
	create = group user/manoj-djax
	push = +force group user/manoj-djax
	pushMerge = group user/manoj-djax
[access "refs/tags/*"]
	push = group user/manoj-djax
	push = +force group user/manoj-djax
